<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>

<body>
    <h1><%= title %></h1>

    <% if ( user ) { %>
		<h2>Good Luck On the Test <%=user%> </h2>
		<%var i = 1%>
		<% questions.forEach( function( display ){ %>
		<a href="/quiz/<%=display.id%>">Question <%= i%></a>
		<br>
		<%i++%>
		<% }); %>
		<a href="/">Submit</a>
		<a href="/logout">Logout</a>
	<% } else { %>
		<p> Unautorized Access </p>
		<a href="/register">Register</a>
		<a href="/login">Login</a>
	<% } %>

</body>
</html>